.section {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section > img {
  width: 270px;
  height: 187.92px;
  margin-top: 2.5rem;
  margin-bottom: 80px;
  border-radius: 20px;
}

.section>div{
  min-width: 100%;
}

.section > div > h1 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.section > div  {
  max-width: 37rem;
}
.section > div > p {
  margin-bottom: 1.2rem;
}

.section > div > a>p {
  color: #6880ff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
}

a{
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #6880ff;
  cursor: pointer;
}
p{
  color:white;
  line-height: 2rem;
}
section>div>a:hover{
  text-decoration: underline
}
span{
  color:rgb(237, 129, 129);
  font-weight:900;
}

@media (min-width: 860px) {
  .section {
    padding-left: 0rem;
    padding-right:0rem;
    margin-bottom: 2rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .section>div{
    min-width: 0;
  }
}
