.card {
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 280px;
  min-height: 320px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
}

.card > div{
  width: 280px;
  min-height: 320px;
  padding: 1rem;
  position: relative;
}
.card > div > h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  color:rgb(237, 129, 129);
  margin-bottom: 0.7rem;
}

li>div>.project_links{
  display: flex;
  flex-direction: column;
}
.card > div > h4 {
  margin-bottom: 1.5rem;
  font-size:0.8rem;
  color:rgb(237, 129, 129);
}
.card > div > img {
  width: 37px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 0rem;
}

.card > div > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.card > div > li>div>a:hover {
  text-decoration: underline
}

li>div>div>a{
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #6880ff;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
}

li>div>div>div>a{
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #6880ff;
  cursor: pointer;
  position: absolute;
  bottom: 3.5rem;

}

.projectLink_preview{
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #6880ff;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

li>div>div>a:hover{
  text-decoration: underline
}

li>div>div>div>a:hover{
  text-decoration: underline
}

@media (min-width: 840px) {
  .card {
    width: 420px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 0rem;
    min-height: 270px;
  }
  .card > div{
    width: 420px;
    min-height: 270px;
  }
  li>div>.project_links{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }
  li>div>div>div>a{
    bottom: 1rem;
    left:13rem;
  }

}
