footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 2px 0px;
  border-style: solid;
  color: white;
  width: calc(100%-2rem);
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 896px;
  margin-bottom: 1rem;
}
img{
  cursor: pointer;
}
.rodape1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.rodape1 > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}


footer>div>div>a>p{
  color: #6880ff;
  font-size: 1.3rem;
}
.rodape2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: #ffffff;
}
footer>div>div>a:hover{
  text-decoration: underline
}